# Root directory files
data/
env/
models/

# openvino directories
workspace/openvino/mob/checkpoint
workspace/openvino/mob/saved_model
workspace/openvino/mob/pipeline.config

# tensorflow directories
workspace/tensorflow/images/train
workspace/tensorflow/images/test
workspace/tensorflow/pre-trained

# trshbt directories
workspace/trshbt/see-trash-data

# cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# cpp dev
*.o

# Scripts & other files
*.sh

*.jpg
!IMG_2208.jpg
*.xml

*.record
*.csv

!model.xml

# exe
trshbt
