# Root directory files
data/
env/
models/

# openvino directories
workspace/openvino/mob/checkpoint
workspace/openvino/mob/saved_model
workspace/openvino/mob/pipeline.config

# tensorflow directories
workspace/tensorflow/images/train
workspace/tensorflow/images/test
workspace/tensorflow/pre-trained

# detect directories
workspace/data
workspace/detect/bin

# Scripts & other files
*.sh

*.o

*.jpg
!IMG_2208.jpg
*.xml

*.record
*.csv

!model.xml
